@{
  ViewBag.Title = "About Page";
}

<header id="top2" class="header" style="padding-bottom: 500px;">
    <div class="text-vertical-center" style="color: white">
        <h1 style="margin-top: 20px;">About Trip Planner</h1>
        <h3>This site created by: <br/> <br/>Shay Shahar <br/> Simon Raviv <br/> Carmel Avni</h3>

    </div>
</header>
