@model IEnumerable<TheWorld.Models.Trip>
@{
  ViewBag.Title = "Home Page";
}

<div>
    <header id="top" class="header" style="padding-bottom: 550px;">
        <div class="text-vertical-center">
            <h1 style="margin-top: 20px;">Welcome to Trip Planner</h1>
            <h3>This site will help you build world trips.</h3>
            <br><br>
            <a asp-controller="App" asp-action="Trips" class="btn btn-lg btn-dark">Goto Your Trips</a>
        </div>
    </header>
</div>