@model IEnumerable<TheWorld.Models.Trip>
@{
  ViewBag.Title = "Home Page";
}

<div>
    <header id="top" class="header" style="padding-bottom: 300px;">
        <div class="text-vertical-center">
            <h1>Welcome to Trip Planner</h1>
            <h3>
                This site will help you build world trips.<m/h3>
            <br><br>
            <a asp-controller="App" asp-action="Trips" class="btn btn-lg btn-dark">Goto Your Trips</a>
        </div>
    </header>
</div>

@*<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div>
            <h1>Welcome to Trip Planner</h1>
            <p>This site will help you build world trips.</p>
            <img src="~/img/home_1.png" height="360" width="300"/>
            <img src="~/img/home_2.png" height="360" width="300" class="col-md-offset-1"/>
        </div>
        <div>
            <a asp-controller="App" asp-action="Trips" class="btn btn-lg btn-success col-md-offset-3">Goto Your Trips</a>
            <div><br/><br/></div>
        </div>
    </div>
</div>*@
